.personal-information2 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 22px;
  font-weight: 500;
  color: #9ca4ab;
}
.direct-debits3 {
  position: absolute;
  top: 0;
  left: 36px;
  letter-spacing: 0.01em;
  line-height: 26px;
  font-weight: 500;
}
.arrow-right-22,
.wallet-icon {
  position: absolute;
  top: 1px;
  left: 288px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.wallet-icon {
  left: 0;
}
.direct-debits2,
.frame-item {
  position: relative;
  width: 312px;
}
.direct-debits2 {
  height: 26px;
  color: #78828a;
}
.frame-item {
  height: 1px;
}
.direct-debits6 {
  position: absolute;
  top: 0;
  left: 36px;
  letter-spacing: 0.01em;
  line-height: 26px;
  font-weight: 500;
  color: #66707a;
}
.direct-debits4 {
  position: relative;
  width: 312px;
  height: 26px;
}
.shield-done-icon {
  position: absolute;
  top: 1.42px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.personal-information-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  text-align: left;
  font-size: 18px;
  color: #355fe5;
  font-family: Inter;
}